:root {
    --clr-primary-pale-blue: hsl(225, 100%, 94%);
    --clr-primary-blue: hsl(245, 75%, 52%);

    --clr-neutral-dark-blue: hsl(223, 47%, 23%);
    --clr-neutral-pale-blue: hsl(225, 100%, 98%);
    --clr-neutral-desat-blue: hsl(224, 23%, 55%);
    --clr-neutral-purple: hsl(245, 83%, 68%);

    --fs-body: 1rem;

    --ff-red-hat: 'Red Hat Display', sans-serif;
}

body {
    font-family: var(--ff-red-hat);
    background-color: var(--clr-primary-pale-blue);
    background-image: url('../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    margin: 0 auto;
}

.card {
    border-radius: 1em;
    background: #fff;
    max-width: 25rem;
    margin: 0 auto;
    box-shadow: 0px 5px 20px -5px var(--clr-neutral-desat-blue);
}

.card__hero {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card__details {
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 900;
    color: var(--clr-neutral-dark-blue);
}

.lead {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 500;
    color: var(--clr-neutral-desat-blue);
    line-height: 1.75;
}

.plan {
    background: var(--clr-neutral-pale-blue);
    padding: 1em;
    display: flex;
    align-items: center;
    border-radius: 1em;
    margin-bottom: 1.5em;
}

.plan__icon {
    margin-right: 1em;
}

.plan__info {
    margin-right: auto;
    font-size: .9em;
}

.plan__name {
    font-weight: 700;
    color: var(--clr-neutral-dark-blue);
}

.plan__price {
    color: var(--clr-neutral-desat-blue);
}

.change {
    color: var(--clr-primary-blue);
    font-size: .9rem;
    font-weight: bold;
    transition: color 300ms ease-in-out;
}

.change:hover,
.change:active,
.change:focus {
    color: var(--clr-neutral-purple);
}

.btn {
    font-weight: 700;
    text-decoration: none;
}

.proceed-btn {
    color: #fff;
    background: var(--clr-primary-blue);
    padding: .8em;
    border-radius: .85em;
    margin-bottom: 2em;
    box-shadow: 0px 5px 20px -5px var(--clr-neutral-desat-blue);
    transition: all 300ms ease-in-out;
}

.proceed-btn:hover,
.proceed-btn:active,
.proceed-btn:focus {
    background: var(--clr-neutral-purple);
    box-shadow: 0px 5px 20px -5px var(--clr-neutral-desat-blue);
}

.cancel-btn {
    color: var(--clr-neutral-desat-blue);
    transition: color 300ms ease-in-out;
}

.cancel-btn:hover,
.cancel-btn:active,
.cancel-btn:focus {
    color: var(--clr-neutral-dark-blue);
}


/* DEFAULT STYLES FROM FRONTEND MENTOR */
.attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 60em) {
    body {
        background-color: var(--clr-primary-pale-blue);
    background-image: url('../images/pattern-background-desktop.svg');
        background-position: top left;
        background-size: contain;
    }
}